{%- doc -%}
  Sets inline CSS variables for typography styles, including color, font size, weight, family, line height, and letter spacing.
  Intended for use on the style attribute of an element.

  @param {object} settings - The block or section settings object containing typography values
  @param {string} [type] - The type of text element to inherit styles from, options: display, heading, body
  @param {string} [preset] - The type preset from the global settings.type_preset

  @example
  <div style="{% render 'typography-style', settings: section.settings %}">
    ...
  </div>
{%- enddoc -%}

{% assign preset = preset | default: settings.type_preset %}

{%- capture variables -%}
  {%- if preset != 'rte' and settings.color != "" -%}
    --color: {{ settings.color }};
  {%- endif -%}
  {%- if preset == 'custom' -%}
    --font-size: {{ settings.font_size }}px;
    --font-size-mobile: {{ settings.font_size_mobile }}px;
    --font-weight: {{ settings.weight }};
    --font-family: {{ settings.font }};
    --text-transform: {{ settings.case }};
    --text-wrap: {{ settings.wrap }};
    --line-height: {{ settings.line_height }}%;
    {% assign preset_letter_spacing_value = settings.letter_spacing | times: 1.0 | divided_by: 100 | append: 'em' %}
    --letter-spacing: {{ preset_letter_spacing_value }};
  {%- endif -%}
{%- endcapture -%}
{{- variables | strip | strip_newlines -}}
